[Desktop Entry]
Version=1.0
Name=CodeDesigner RAD
Comment=CodeDesigner RAD code generation/reverse engineering tool
TryExec=codedesigner
Exec=codedesigner %f
Icon=codedesigner.png
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=GTK;Development;
StartupNotify=true
MimeType=application/x-codedesigner-rad;
